<div style="float:left">側邊欄&nbsp;&nbsp;</div>
<div class="onoffswitch" style="float:left">
    <input type="checkbox" name="stopwords" class="onoffswitch-checkbox" id="addon_switch" checked>
    <label class="onoffswitch-label" for="addon_switch">
        <span class="onoffswitch-inner">
            <span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
            <span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
        </span>
    </label>
</div>

