{% extends 'base.html' %}
{% block h1 %}使用條款{% endblock %}
{% block nav_toc %}current{% endblock %}
{% block content %}
<section>
    <ol class='toc'>
        <li>網站合法授權使用</li>
        <p>當您進入並使用本網站時，即表示您已同意有關為保障合法或其他目的之系統監視執行；任何非經合法授權使用本網站之行為均可能使您遭致刑事起訴或罰款制裁。</p>
        <li>用戶同意接受本「使用條款」</li>
        <p>當您進入並使用本網站，即視同您已同意遵守本「使用條款」與其他有關著作權、版權、商標專用權、網路智慧財產權、隱私權等之法律規定。</p>
        <li>COPEN保留之權利</li>
        <p>COPEN不定時增刪修改網頁資訊內容，或變更網頁服務功能，無需事先或另行通知用戶；亦得不定時修訂本「使用條款」，並於網站張貼時隨即生效，無需事先或另行通知用戶或對用戶負擔任何責任。</p>
        <li>用戶須遵守之規則</li>
        <ol type="a" class="tocsub">
            <li>用戶不得利用 CHANCE 網站電腦系統、網路通訊相關資源、或提供之服務從事違法之行為；不得藉由本中心網站進行任何恐嚇、誹謗、騷擾、冒犯他人之活動，或其他任何犯罪行為</li>
            <li>用戶不得進行任何不利於 COPEN 、可能對網路正常傳輸造成不利影響的行為</li>
            <li>用戶對 COPEN 網站或其中提供之資訊不具備任何權利；用戶不得為其他任何目的，以其他任何方式使用本中心網站所提供之資訊或服務</li>
            <li>用戶不得向 COPEN 網站輸入或上載任何含有病毒、或其他意圖損害、干擾、降低本中心之系統或網路效率或相關之服務品質之電腦程式路徑</li>

        </ol>
        <li>法律管轄</li>
        <p>本「使用條款」適用中華民國法律。</p>

    </ol>
</section>
{% endblock %}

{% block extra_css %}
<style>
ol.toc > li {font-size:20px; padding-top:30px;font-weight:bold;}
</style>
{% endblock %}
